<div class="container">
	<div class="card-deck mb-3 text-center">
		<div class="card mb-12 shadow-sm">
			<div class="card-header">
				<h4 class="my-0 font-weight-normal">Teste <small class="text-muted">[ngContent]</small></h4>
				<ng-content select = ".titulo"></ng-content>
			</div>
			<div class="card-body">
				<h1 class="card-title pricing-card-title">Painel</h1>
				<ng-content select = ".corpo"></ng-content>
				<button type="button" class="btn btn-lg btn-block btn-success">Quero Assinar</button>
			</div>
		</div>
	</div>
</div>