<div class="col-sm-6 float-left">
	<section class="card-body" [hidden]="(id === '')">
		<div>
			{{ id }} - Detalhes de {{ curso?.nome }}
		</div>
	</section>
	<section class="card-body" [hidden]="!(id === '')">
		{{ id }} - Teste
	</section>
</div>