<h4>Diretiva *ngFor - Lista de Cursos do Array Interno</h4>
<ul style="list-style-type: none">
	<li *ngFor="let curso of cursos, let i = index"> ID: {{ i + 1 }} - Curso: {{ curso }} </li>
</ul>
<br>
<ul style="list-style-type: none">
	<ng-template ngFor [ngForOf]="cursos" let-curso let-i="index">
		<li> ID: {{ i + 1 }} - Curso: {{ curso }} </li>
	</ng-template>
</ul>
