<div class="input-group mt-3">
	<button class="btn btn-primary input-group-prepend" (click)="decrementa()">-</button>
	<input type="text" [value]='valor' readonly #campoInput>
	<button class="btn btn-primary input-group-append" (click)="incrementa()">+</button>
</div>
