<div *ngIf="mostrarCursos; else alternativa">
	<section class="col-sm-12 mt-2 mb-2">
		<h6>Sessão inserida no DOM com <strong>ngIf</strong></h6>
	</section>
</div>
<ng-template>
	<section class="col-sm-12 mt-2 mb-2" [ngIf]="mostrarCursos">
		<h6>Sessão independente inserida no DOM com InputProperty Binding do <strong>ngIf</strong></h6>
	</section>
</ng-template>
<ng-template class="col-sm-12 mt-2 mb-2" #alternativa>
	<div>
		<h6>Não existem cursos - Alternativa</h6>
	</div>
</ng-template>
<!-- Uso de diretiva personalizada criada: dtNgElse -->
<!-- <section class="col-sm-12 mt-2 mb-2" *dtNgElse="mostrarCursos">
	<h6>Sessão inserida no DOM com <strong>ngElse</strong></h6>
</section>
<hr>
<ng-template class="col-sm-12 mt-2 mb-2" [dtNgElse]="mostrarCursos">
	<div>
		<h6>Não existem cursos <br>- InputProperty Binding dtNgElse, ou seja para a ser um parâmetro de entrada configurado com Input()</h6>
	</div>
</ng-template>
<hr> -->
<div class="col-sm-12 mt-3 mb-2">
	<button *ngIf="!mostrarCursos" type="button" class="btn btn-info" (click)="onMostrarCursos()">Mostrar</button>
	<button *ngIf="mostrarCursos" type="button" class="btn btn-info" (click)="onMostrarCursos()">Esconder</button>
</div>

<p dtFundoAmarelo>
	Texto com fundo amarelo.
</p>
<hr>
<p dtHighlightMouse>
	Texto com highlight quando passa o mouse em cima.
</p>
<hr>
<p dtHighlight [defaultColor] = "'grey'" [highlight] = "'red'">
	Texto com highlight com cores customizadas.
</p>
<hr>
<button>All</button>
<button dtFundoAmarelo>Componente Botão</button>