<h4><strong>Estudo sobre Diretiva #ngInf</strong></h4>

<div class="col-sm-12 mt-2 mb-2" [hidden]="!mostrarCursos">
	<h5><strong>Lista de Cursos Hidden</strong></h5>
	<p>Usar o <i>hidden</i> é menos custoso, no entanto, não há segurança em caso de informações confidenciais.</p>
</div>
<section class="col-sm-12 mt-2 mb-2" *ngIf="mostrarCursos">
	<h6>Sessão inserida no DOM</h6>
	<!--
	<ul curso of cursos>
		<li>{{ curso }}</li>
	</ul>
	-->
	</section>
<section class="col-sm-12 mt-2 mb-2" [hidden]="!mostrarCursos">
	<h6>Sessão escondida no DOM</h6>
	<!--
	<ul curso of cursos>
		<li>{{ curso }}</li>
	</ul>
	-->
</section>
<div class="col-sm-12 mt-3 mb-2">
	<button *ngIf="!mostrarCursos" type="button" class="btn btn-info" (click)="onMostrarCursos()">Mostrar</button>
	<button *ngIf="mostrarCursos" type="button" class="btn btn-info" (click)="onMostrarCursos()">Esconder</button>
</div>