<div class="my-2">
	<div>
		Detalhes do formulario
	</div>
	<pre class="bg-warning mt-2 mx-2">
		Formulário válido: {{ form.valid }}
	</pre>
	<br>
	<code>
		Formulário submetido: {{ form.submitted }}
	</code>
	<br>
	<code>
		Valores:<br> {{ form.value | json }}
	</code>
</div>