<div style="text-align:center">
	<!--<fa-icon [icon]="['fas', 'coffee']"></fa-icon> | <fa-icon [icon]="['fas', 'calendar']"></fa-icon>-->
	<p></p>
	<div class="fas fa-3x"
		[class.fa-ambulance] = "transporte"
		[class.fa-helicopter] = "!transporte" (click)="veiculo()">
	</div>
	<p></p>
	<i class="fas fa-3x" [ngClass] = "
		{ 
			'fa-ambulance': !transporte, 
			'fa-helicopter': transporte 
		}" (click)="veiculo()"></i>
	<p></p>
	<button class="btn btn-success mt-2 mr-2" (click)="veiculo()">Transporte</button>
</div>