<div class="mt-3 col-sm-6 float-left">
	<h5>Lista de Alunos: </h5>
	<h6>Página {{ pg }}</h6>
	<ul class="list-group">
		<li class="list-group-item" routerLinkActive="active" *ngFor="let aluno of alunos">
			<a [routerLink]="['.', aluno.id]">
				{{ aluno.nome }}
			</a>
		</li>
	</ul>
	<div class="mt-3 col-sm-6 mx-auto">
		<button class="btn btn-info" (click)="proximaPagina()">Próxima Página</button>
	</div>
</div>

<router-outlet></router-outlet>