<!--The content below is only a placeholder and can be replaced.
<div class="col-sm-12 mt-2 mb-2" style="text-align:center">
	<h4>Bem Vindo aos {{ title }}!</h4>
</div>
<div class="col-sm-12 mt-2 mb-2">
	<app-criar-curso></app-criar-curso>	
</div>
<div class="col-sm-12 mt-2 mb-2">
	<app-cursos></app-cursos>
</div>
-->
<!--
<div id="divDiretivasCustomizadas" class="container-fluid mt-2 mb-4" [hidden]="false">
	<app-diretivas-customizadas></app-diretivas-customizadas>
</div>

<div class="container-fluid" [hidden]="true">	
	<h5>Lista de Apps ativos abaixo: </h5>
	<app-component-databiding></app-component-databiding>
	<app-component-ciclo [valorInicial]='valor' *ngIf="!deletarCiclo"></app-component-ciclo>
	<button class="btn btn-info m-3" (click)='crescerValor()'>Mudar</button>
	<button class="btn btn-info m-3" (click)='destruirCiclo()'>Destruir</button>
</div>

<div id="divElvis" class="container-fluid mt-2 mb-4" [hidden]="true">
	<app-operador-elvis></app-operador-elvis>
</div>
<div id="divNgContent" class="container-fluid mt-2 mb-4" [hidden]="true">
	<app-ngcontent>
		<div class="titulo"><h4><strong>Conteúdo passado ao componente para o título!</strong></h4></div>
		<div class="corpo">
			<hr>
			<h5>Conteúdo passado para o <strong>corpo</strong></h5>
		</div>
		<div class="corpo">
			<hr>
			<app-operador-elvis></app-operador-elvis>
		</div>	
	</app-ngcontent>
</div>
 -->
<div class="col-sm-12 mt-2 mb-2">
	<barra-navegacao></barra-navegacao>
	<router-outlet></router-outlet>
</div>