<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm">
	<h5 class="my-0 mr-md-auto font-weight-normal mb-2">SWCORP Soluções em Gestão |  Workflow</h5>
	<nav class="my-2 my-md-0 mr-md-3 mb-3 nav nav-pills">
		<a id="home" [class.active] = "aba == 'home'" (click) = "aba = 'home'" class="nav-link p-2" href="#">Home</a>
		<a id="enterprise" [class.active] = "aba == 'enterprise'" class="nav-link p-2" (click) = "aba = 'enterprise'" href="#">Enterprise</a>
		<a id="precos" [class.active] = "aba == 'precos'" class="nav-link p-2" (click) = "aba = 'precos'" href="#">Preços</a>
	</nav>
	<section class="container" [ngSwitch]="aba">
		<div *ngSwitchCase="'enterprise'">
			<h2 class="h2"><strong>Enterprise</strong></h2>
			<p>Lonsectetur adipisicing elit. Quam maxime nulla nihil sapiente facere est dolorum nostrum tenetur, molestiae magni id exercitationem omnis corrupti voluptas dolor explicabo voluptatem at necessitatibus.</p>
		</div>
		<div *ngSwitchCase="'precos'">
			<h2 class="h2"><strong>Preços</strong></h2>
			<p>Quam maxime nulla nihil sapiente facere est dolorum nostrum tenetur, molestiae magni id exercitationem omnis corrupti voluptas dolor explicabo voluptatem at necessitatibus.</p>
		</div>
		<div *ngSwitchDefault>
			<h2 class="h2"><strong>Home</strong></h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam maxime nulla nihil sapiente facere est dolorum nostrum tenetur, molestiae magni id exercitationem omnis corrupti voluptas dolor explicabo voluptatem at necessitatibus.</p>
		</div>
	</section>
	<button id="botao" class="btn btn-outline-success" type="button">Assinar</button>
</div>