<h5><strong>Exemplos de Pipes</strong></h5>

<p>
	Título: <strong>{{ livro.titulo | uppercase | camelCase }}</strong><br>
	Estrelas: <strong>{{ livro.rating | number:'2.1-2' }}</strong><br>
	Páginas: <strong>{{ livro.numeroPaginas | number }}</strong><br>
	Preço: <strong>{{ livro.preco | currency:'BRL' }}</strong><br>
	Data de Lançamento: <strong>{{ livro.dataLancamento | date:'d/MM/y h:mm:ss' }} -
		{{ livro.dataLancamento | date:'short' }}</strong><br>
	Data de Atualização: <strong>{{ livro.dataLancamento | date }}</strong><br>
	Url: <strong>{{ livro.url }}</strong></p>
<pre><strong>{{ livro | json }}</strong> </pre>
<ul>
	<li><strong>Todos os Livros</strong></li>
	<li *ngFor="let liv of livros">
		{{ liv }}
	</li>
</ul>
<ul>
	<li><strong>Livros Filtrados por Args</strong></li>
	<li *ngFor="let liv of livros | filtroArray: 'ava','cript'">
		{{ liv }}
	</li>
</ul>
<input type="text" class="form-control" [(ngModel)]="filtro" />
<ul>
	<li><strong>Livros Filtrados por Input</strong></li>
	<li *ngFor="let liv of livros | filtroArray: filtro">
		{{ liv }}
	</li>
</ul>