<h5>Compartilhando um serviço entre componentes: </h5>
<div class="form-inline form-group">
  <input class="form-control col-sm-6 mr-2" type="text" #cursoInput>
  <button class="btn btn-primary" (click)="onAddCurso(cursoInput.value)">Adicionar</button>
</div>
<ul>
	<li *ngFor="let curso of cursinhos">
		{{ curso.nome }}
	</li>
</ul>
<app-receber-curso-criado></app-receber-curso-criado>