<form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)" method="POST">
	<div class="col-sm-12 row">
		<div class="col-sm-12">
			<div class="form-group">
				<label for="nome" class="control-label">Nome</label>
				<input type="text" class="form-control" [(ngModel)]="usuario.nome" name="nome" id="nome" placeholder="Fulano" required>
			</div>
		</div>
		
		<div class="col-sm-4">
			<div class="form-group">
				<label for="sequencial" class="control-label">Número Único</label>
				<input type="text" class="form-control" name="sequencial" id="sequencial" maxlength="5" (keyup)="salta( $event, 'digito')" required>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<label for="digito" class="control-label">Número Único</label>
				<input type="text" class="form-control" name="digito" id="digito" maxlength="3" (keypress)="salta( $event, 'ano')" required>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<label for="ano" class="control-label">Número Único</label>
				<input type="text" class="form-control" name="ano" id="ano" maxlength="4" required>
			</div>
		</div>
		
		<div class="col-sm-6">
			<div class="form-group">
				<label for="email" class="control-label">Email</label>
				<input type="email" class="form-control" [(ngModel)]="usuario.email" name="email" id="email" placeholder="nome@gmail.com" required>
			</div>
		</div>
	</div>
	
	<div class="col-sm-12" *ngIf="this.formulario.valid">
		<button type="submit" class="btn btn-primary">Preencher</button>
	</div>
	
	<div class="col-sm-12 my-3">
		<app-form-debug [form]="formulario"></app-form-debug>
	</div>
	
</form>