<h5>Estilos com Property Binding</h5>
<button class="btn" 
	[style.backgroundColor]="ativo ? 'blue' : 'darkgray'" 
	[style.color]="ativo ? 'white' : 'dimgray'"
	[style.fontWeight]="ativo ? 'bold' : 'normal'" 
	[style.fontSize]="tamanhoFonte + 'px'"
	(click) = "mudaEstilo()">Mudar atributo
	'ativo'</button>
<p></p>
<button class="btn" 
	[ngStyle] = "
	{
		'backgroundColor': (ativo ? 'blue' : 'darkgray'),
		'color': (ativo ? 'white' : 'dimgray'),
		'fontWeight': (ativo ? 'bold' : 'normal'),
		'fontSize': (tamanhoFonte + 'px')
	}"
	(click) = 'mudaEstilo()'>Mudar atributo 'ativo'</button>