<p>Descrição: {{ tarefa.desc }}</p>
<!-- <p>Responsável: {{ tarefa.responsavel.nome }}</p> -->
<p [hidden] = "!tarefa.responsavel?.nome">
	Responsável 1: {{ tarefa.responsavel != null ? tarefa.responsavel.nome : '' }}
</p>
<p>
	Responsável 2: {{ tarefa.responsavel?.usuario?.nome }}
</p>